/* Arquivo: ItemsList.css */

/* Estilos para a ProgressBar personalizada */
.my-progress-bar {
  height: 2rem;
  width: 80%;
  font-size: 14px;
  border-radius: 5px;
}

.my-progress-bar .progress-bar {
  border-radius: 0;
  overflow: visible;
}

.my-progress-bar .progress-bar-striped {
  background-size: 1em 1em;
  color: black;
}

/* Estilos para os itens da lista */
.listitemsgroup {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
}

.itemnome {
  width: 10em;
}

.rotate-arrow {
  transition: transform 0.3s ease; /* Define a duração e o easing da animação */
}

.show .rotate-arrow {
  transform: rotate(180deg);
}

.tipoitemseletor {
  width: auto;
  min-width: 8rem;
}

.formappitemsfilters {
  justify-content: space-between;
}

.itemslistitems {
  width: 100%;
  background: none;
  height: 100%;
  border: none;
}

.form-control-transparent,
.form-control-transparent:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.searchboxitems,
.transparent {
  background: transparent;
}

.modal-content{
 background-color: rgba(0, 0, 0, 0.95);

}

.btn-close {
  --bs-btn-close-color: white;
}