.full{
    width: 100vw;
}

.hipo {
    width: 50%;
}

.emergsimg{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 23.82%;
    left: 60%;
    width: 30%;
    color: rgb(32, 3, 3);
    justify-content: center;
    align-items: center;
}
.emergsimg p {
    /* font-size:large; */
}

.emergsimg img {
    width: 30%;
}
.emergsimg-img {
    width: 100%;
}

@media (max-width: 500px) 
    {
        .emergsimg{
            position:relative;
            left: 0;
            width: auto;
        }

    }