.formulario-carrossel {
  margin: 5em;
}

.formulario-carrossel label {
  font-weight: bold;
}

.formulario-carrossel textarea {
  resize: vertical;
  min-height: 80px;
  max-height: 240px;
}

.formulario-carrossel button[type="submit"] {
  margin-top: 10px;
}
